.intro {
    width: 984px;
    margin: 0 auto;
    padding: 0 0 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 690px;
        padding-bottom: 92px;
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 720px;
        padding-bottom: 64px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 0 16px;
    }
}