.footer__menu {
    display: grid;
    list-style-type: none;
    justify-items: start;
    align-items: end;
    grid-auto-flow: auto;
    grid-column-gap: 18px;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .footer__menu {
        grid-auto-flow: auto;
        grid-row-gap: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}